<main class="page">
	<section class="form-card">
		<form action="" method="get" class="form-data">
			<fieldset class="fieldset">
				<legend class="legend">Регистрация</legend>
				<div class="form_input">
					{{{ first_name }}}
					<label for="first_name" class="label">Имя</label>
				</div>
				<div class="form_input">
					{{{ second_name }}}
					<label for="second_name" class="label">Фамилия</label>
				</div>
				<div class="form_input">
					{{{ login }}}
					<label for="login" class="label">Логин</label>
				</div>
				<div class="form_input">
					{{{ email }}}
					<label for="email" class="label">E-mail</label>
				</div>
				<div class="form_input">
					{{{ password }}}
					<label for="password" class="label">Пароль</label>
				</div>
				<div class="form_input">
					{{{ phone }}}
					<label for="phone" class="label">Телефон</label>
				</div>
					{{{ button }}}
			</fieldset>
		</form>
	</section>
</main>
