<main>
	<section class="formData">
		<h2 class="title">Изменить личные данные</h2>
		<form action="" method="get">
			<fieldset>
				<legend>Изменить личные данные</legend>
				<div class="inputContainer">
					{{{ email }}}
					<label for="email" class="label">Почта</label>
				</div>
				<div class="inputContainer">
					{{{ login }}}
					<label for="login" class="label">Логин</label>
				</div>
				<div class="inputContainer">
					{{{ first_name }}}
					<label for="first_name" class="label">Имя</label>
				</div>
				<div class="inputContainer">
					{{{ second_name }}}
					<label for="second_name" class="label">Фамилия</label>
				</div>
				<div class="inputContainer">
					{{{ chat_name }}}
					<label for="chat_name" class="label">Имя в чате</label>
				</div>
				<div class="inputContainer">
					{{{ phone }}}
					<label for="phone" class="label">Телефон</label>
				</div>
				{{{ button }}}
			</fieldset>
		</form>
	</section>
</main>
