<main>
	<section class="profileData">
		{{#if isLoading}}
				Loading...
		{{else}}
		<div class="sectionAvatar">
<!--			<div class="fotoUser">-->
<!--				{{{ avatar }}}-->
<!--				<label for="avatar" class="fotoUserLabel">Логин</label>-->
<!--			</div>-->
			<h2>{{ first_name }} {{ second_name }}</h2>
			{{{ logOut}}}
		</div>
		<div class="profileDataSection">
			<div class="formBorder">
				<legend>Личные данные</legend>
				<div class="formUser">
					<div class="rowProfile">
						<p name="email">Почта
						<p>{{ email }}</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="login">Логин
						<p>{{ login }}</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="first_name">Имя
						<p>{{ first_name }}</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="second_name">Фамилия
						<p>{{ second_name }}</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="display_name">Имя в чате
						<p>{{ display_name }}</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="phone">Телефон
						<p>{{ phone }}</p>
						</p>
					</div>
					{{{ button }}}
				</div>
			</div>
			{{/if}}
			<fieldset class="activFormBorder">
				<legend class="activFormName">Изменить пароль</legend>
				<form class="formPassword">
					<div class="rowProfile">
						<p name="old_password">Старый пароль
						<p>********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Новый пароль
						<p>**********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Повторите новый пароль
						<p>**********</p>
						</p>
					</div>
				</form>
				{{{ buttonPass }}}
			</fieldset>
		</div>
	</section>
</main>
