<main class="page">
	<section class="form-card">
		<div class="avatar_form">
		{{#if isLoading}}
				Loading...
		{{else}}
			{{{ avatar }}}
			<h2>{{ first_name }} {{ second_name }}</h2>
			{{{ logOut}}}
		</div>

		<fieldset class="user_data">
			<legend class="legend">Личные данные</legend>
			{{#each fields}}
				{{{ this }}}
			{{/each}}
		</fieldset>
		{{/if}}

		<div class="button_link-div">
			{{{ editProfile }}}
			{{{ editPassword }}}
		</div>

	</section>

	{{{ modal }}}

</main>
