<main>
	<section class="profileData">
		{{#if isLoading}}
				Loading...
		{{else}}
			{{{ avatar }}}
			<h2>{{ first_name }} {{ second_name }}</h2>
			{{{ logOut}}}
		</div>
		<div class="profileDataSection">
			<div class="formBorder">
				<legend>Личные данные</legend>
				{{#each fields}}
					{{{ this }}}
				{{/each}}
					{{{ button }}}
				</div>
			</div>
			{{/if}}
			<fieldset class="activFormBorder">
				<legend class="activFormName">Изменить пароль</legend>
				<form class="formPassword">
					<div class="rowProfile">
						<p name="old_password">Старый пароль
						<p>********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Новый пароль
						<p>**********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Повторите новый пароль
						<p>**********</p>
						</p>
					</div>
				</form>
				{{{ buttonPass }}}
			</fieldset>
		</div>
	</section>
</main>
