mixin loginForm(placeholder, text, errorMessage)
	div.input__container
		label.label(for=attributes.for)=text
		input.input(type=attributes.type, placeholder=placeholder, name=attributes.name, id=attributes.id)&attributes(attributes)
		span.span=errorMessage
